

.new {
    background-color: #a52a2a;
    margin-bottom: 0;
}


.container.body-content li:nth-child(odd) { background-color: #808080; }

.container.body-content li:nth-child(even) { background-color: #a9a9a9; }

td {
    padding: 10px;
}
tr td a {
    cursor:pointer;
    display:block;
    padding: 10px;
    margin: -10px;
}